<h4>Timeslicer Time Reporting</h4>
<table>
    <tbody>
        <tr>
            <td>Start date:</td>
            <td><input type="text" size="10" value="2013-12-01" ng-model="startdate"></td>            
            <td>End date:</td>
            <td><input type="text" size="10" value='2013-12-31' ng-model="enddate"></td>            
            <td><button type="submit" value="Fetch" ng-click="getAllItems()">Fetch</button></td>            
        </tr>
    </tbody>
</table>
Result: {{summa}}
Project list: {{projectTimeList}} 
<br>
Activity list: {{activityTimeList}}


<table>  
    <thead>  
        <tr>  
            <th>Start</th>  
            <th>End</th>  
            <th>Duration</th>  
            <th>Project</th>  
            <th>Activity</th>  
            <th>Comment</th>  
        </tr>  
    </thead>
    
    <tbody ng-repeat="i in allItems">
        <tr  ng-class-odd="'oddrow'" ng-class-even="'evenrow'">
            <td>{{i.start}}</td>  
            <td>{{i.end}}</td>  
            <td>{{i.duration}}</td>  
            <td>{{i.project}}</td>  
            <td>{{i.activity}}</td>  
            <td>{{i.comment}}</td>  
        </tr>  
    </tbody>  
</table>

<!-- link to the nested view-->
<a data-ui-sref="allItems.list"> Show the nested view</a> <br />


<!-- This is where this view is going to have its nested view -->
<div  class="statbackground" data-ui-view=""></div>


