<p>This is the TimeslicerRoute view.</p>
Startdate:<input type="text" value="2013-12-01" ng-model="startdate">
<br />
Enddate:<input type="text" value='2013-12-31' ng-model="enddate">
<br />
<button type="submit" value="Fetch" ng-click="getAllItems()" />


<table>  
    <thead>  
        <tr>  
            <th>Start</th>  
            <th>End</th>  
            <th>Duration</th>  
            <th>Project</th>  
            <th>Activity</th>  
            <th>Comment</th>  
        </tr>  
    </thead>

    <tbody ng-repeat="i in allItems">
        <tr  ng-class-odd="'oddrow'" ng-class-even="'evenrow'">
            <td>{{i.start}}</td>  
            <td>{{i.end}}</td>  
            <td>{{i.duration}}</td>  
            <td>{{i.project}}</td>  
            <td>{{i.activity}}</td>  
            <td>{{i.comment}}</td>  
        </tr>  
    </tbody>  
</table>

<!-- link to the nested view-->
<a ui-sref="allItems.list"> Show the nested view</a> <br />


<!-- This is where this view is going to have its nested view -->
<div  class="statbackground" ui-view=""></div>


