/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size:10px;
  font-family: monaco;
}

.statbackground {

}

table
{
border-collapse:collapse;
}
table,th, td
{
border: 1px dimgray;
}
td {padding: 3px}
th {background-color: #a3a3a3;
    color: #000000;
    padding: 3px;
    
}
/*
tr:nth-child(even) {
    background: blue;
}
tr:nth-child(odd) {
    background: grey;
}
*/
.oddrow {
    background: #d2ffc5;
}
.evenrow {
    background: white;
   /* color: yellow */
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 10px) {
  .container {
    //max-width: 500px;
    background-color: #d4d9c0;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 14px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.ts-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.ts-modal-backdrop.fade {
  opacity: 50.0;
}

.ts-modal-backdrop,
.ts-modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.ts-modal {
  /*position: fixed; */
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.ts-modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.ts-modal.fade.in {
  top: 10%;
}

.ts-modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.ts-modal-header .close {
  margin-top: 2px;
}

.ts-modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.ts-modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.ts-modal-form {
  margin-bottom: 0;
}

.ts-modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.ts-modal-footer:before,
.ts-modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.ts-modal-footer:after {
  clear: both;
}

.ts-modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.ts-modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.ts-modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.ts-input-listbox-left {
    float: left;
}
.ts-input-listbox-right {
    float:left;
}

.ts-input-listbox {
    width: 150px;
}

#footer {
    float:top;
    width: 15px;
}