<div>
    <div class="buttonsection" >
        <button  ng-click="save()">Save</button>
        <button ng-click="cancel()">Cancel</button>
    </div>

    <div class='inputTimeItem'>
        <label for='date' >Date</label><br>
        <input id='date' size='10' type="text" ng-model='currentDate' /><br>
        <label for='starttime' >Start time</label><br>
        <input id ='starttime' size='5' type="text" ng-model='currentStartTime' /><br>
        <label for='endtime' >End time</label><br>
        <input id ='endtime' size='5' type="text" ng-model='currentTime' /><br>
    </div>
    
    <div class='inputTextItems'>
        <label for='project' >Project</label><br>
        <input id ='project' size='64' type="text" ng-model='currentProject'/><br>
        <label for='activity' >Activity</label><br>
        <input id ='activity' size='64' type="text" ng-model='currentActivity'/><br>
        <label for='comment' >Comment</label><br>
        <input id ='comment' size='64' type="text" ng-model='currentComment'/><br>
    </div>
    
     <br>
    <br>
</div>